/* Sidebar width 20% of screen */
.sidebar {
  width: 20%;
  min-width: 20px; /* optional minimum width */
  height: 100%;
  background-color: #111827;
  color: white;
  padding: 2%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
 
}

.sidebar h2 {
  font-size: 2em;
  margin-bottom: 5%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 3%;
}

.sidebar ul li a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 1.1em;
}

.sidebar ul li a:hover {
  color: #facc15;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 50%;
    left: -50%;
    transition: 0.3s;
  }
  .sidebar.open {
    left: 0;
  }
}
